<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <img id="myImage" ng-show="false"></img><!-- DO NOT DELETE! -->

    <div class="row row-center" ng-repeat="(row, three) in collection.images">
      <div class="col-33 col-center image-container" ng-repeat="(index, image) in three" ng-if="showImage">
        <a href="" ng-click="deleteImage(row, index)">
          <ion-item class="item-icon-right trash-icon">
            <span class="icon ion-trash-a" style="right: 0px !important"></span>
          </ion-item>
        </a>
        <img ng-src="{{image}}" class="image-centered" />
      </div>
    </div>

  </ion-content>
</ion-view>
