<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.myapp353670" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>APP IMAGE PICKER</name>
  <description>
    An Ionic Framework and Cordova project.
  </description>
  <author email="you@example.com" href="http://example.com/">
    Your Name Here
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="content://*"/>
  <access origin="cdvfile://*"/>
  <allow-navigation href="file:///**/*"/>
  <allow-navigation href="*://**.phdesign.com.br/*"/>
  <allow-navigation href="filesystem://**/*"/>
  <allow-navigation href="cdvfile://**/*"/>
  <allow-navigation href="http://192.168.200.149:8101"/>
  <allow-navigation href="http://192.168.200.149:8100"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <plugin name="com.synconset.ImagePickerExt" spec="https://github.com/b-alidra/-cordova-imagePickerEx.git"/>
  <platform name="android">
    <preference name="android-minSdkVersion" value="20"/>
    <preference name="android-targetSdkVersion" value="23"/>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_SMS"/>
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    </config-file>
  </platform>
</widget>